.Burger{
	width: 100%;
	margin: 0 auto;
	height: 250px;
	overflow: scroll;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
}

@media (min-width: 500px) and (min-width: 400px){
	.Burger{
		width: 350px;
		height: 300px;
	}
}
